$color-bg-base: hsl(60, 75%, 93%); // should be darker then
$color-bg-light: lighten($color-bg-base, 50%);
$color-bg-dark: darken($color-bg-base, 20%);
$color-bg-O75: transparentize($color-bg-base, 0.1);
$color-bg-O50: transparentize($color-bg-base, 0.5);
$color-bg-O25: transparentize($color-bg-base, 0.75);
$color-bg-O10: transparentize($color-bg-base, 0.9);

$color-fg-base: hsl(60, 30%, 7%); // should be darker then
$color-fg-light: lighten($color-fg-base, 4%);
$color-fg-dark: darken($color-fg-base, 25%);
$color-fg-O80: transparentize($color-fg-light, 0.15);
$color-fg-O60: transparentize($color-fg-light, 0.55);
$color-fg-O40: transparentize($color-fg-light, 0.88);
$color-fg-O20: transparentize($color-fg-light, 0.93);
$color-fg-O10: transparentize($color-fg-light, 0.97);

$color-primary-base: hsl(290, 100%, 38%); // should be darker then
$color-primary-light: lighten($color-primary-base, 25%);
$color-primary-dark: darken($color-primary-base, 10%);
$color-primary-O50: transparentize($color-primary-base, 0.5);
$color-primary-O20: transparentize($color-primary-base, 0.7);
$color-primary-O10: transparentize($color-primary-base, 0.9);
:root{
    // Shadows
    --shadow-sm: 0px var(--space-4xs) var(--space-3xs) 0 rgba(0, 0, 0, 0.04),
        0px var(--space-3xs) var(--space-2xs) 0 rgba(0, 0, 0, 0.04),
        0px var(--space-2xs) var(--space-xs) 0 rgba(0, 0, 0, 0.04),
        0px var(--space-xs) var(--space-md) 0 rgba(0, 0, 0, 0.04);
    --shadow-md: 0px var(--space-3xs) var(--space-2xs) 0 rgba(0, 0, 0, 0.06),
        0px var(--space-2xs) var(--space-xs) 0 rgba(0, 0, 0, 0.06),
        0px var(--space-xs) var(--space-sm) 0 rgba(0, 0, 0, 0.06),
        0px var(--space-md) var(--space-2xl) 0 rgba(0, 0, 0, 0.06);
}
// Light default theme
body {
    // Colors -- BG
    --bg-color: #{$color-bg-base};
    --bg-color-invert: #{$color-fg-O80};
    --bg-color-HL: #{$color-bg-dark};
    --bg-content-color: #{$color-bg-light};
    --bg-code: #{$color-fg-O20};
    --bg-pre: #{$color-fg-O10};
    --bg-caution: hsl(10, 100%, 50%, 0.2);
    --bg-caution-HL: hsl(10, 100%, 50%, 1);
    --bg-primary: #{$color-primary-O10};
    --bg-primary-HL: #{$color-primary-base};
    --border-color: #{$color-fg-O40};
    
    // Colors -- Typography
    --title-color: #{$color-fg-light};
    --system-color: #{$color-fg-base};
    --system-color-HL: #{$color-fg-dark};
    --system-color-invert: #{$color-bg-base};
    --link-color: #{$color-primary-base};
    --link-color-HL: #{$color-primary-light};
}

// Override variables for Dark theme
body[data-theme="dark"] {
    // Colors -- BG
    --bg-color: #{$color-fg-light};
    --bg-color-invert: #{$color-bg-O75};
    --bg-color-HL: #{$color-fg-dark};
    --bg-content-color: #{$color-fg-base};
    --bg-code: #{$color-bg-O10};
    --bg-pre: #{$color-fg-dark};
    --bg-primary: #{$color-primary-O20};
    --bg-primary-HL: #{$color-primary-light};
    --border-color: #{$color-bg-O25};
    
    // Colors -- Typography
    --title-color: #{$color-bg-base};
    --system-color: #{$color-bg-light};
    --system-color-HL: #{$color-bg-base};
    --system-color-invert: #{$color-fg-base};
    --link-color: #{$color-primary-light};
    --link-color-HL: #{$color-primary-base};
}
