$color-bright-base: hsl(60, 75%, 93%); // should be darker then
$color-bright-light: lighten($color-bright-base, 50%);
$color-bright-dark: darken($color-bright-base, 20%);
$color-bright-O75: transparentize($color-bright-base, 0.1);
$color-bright-O50: transparentize($color-bright-base, 0.5);
$color-bright-O40: transparentize($color-bright-base, 0.7);
$color-bright-O20: transparentize($color-bright-base, 0.85);
$color-bright-O10: transparentize($color-bright-base, 0.92);

$color-dark-base: hsl(60, 40%, 5%); // should be darker then
$color-dark-light: lighten($color-dark-base, 5%);
$color-dark-dark: darken($color-dark-base, 20%);
$color-dark-O80: transparentize($color-dark-light, 0.15);
$color-dark-O60: transparentize($color-dark-light, 0.55);
$color-dark-O40: transparentize($color-dark-light, 0.88);
$color-dark-O20: transparentize($color-dark-light, 0.93);
$color-dark-O10: transparentize($color-dark-light, 0.97);

$color-primary-base: hsl(290, 100%, 38%); // should be darker then
$color-primary-light: lighten($color-primary-base, 25%);
$color-primary-dark: darken($color-primary-base, 10%);
$color-primary-O50: transparentize($color-primary-base, 0.5);
$color-primary-O20: transparentize($color-primary-base, 0.7);
$color-primary-O10: transparentize($color-primary-base, 0.9);

//! Grad
@mixin linear-gradient($deg, $clr, $int, $end) {
    background: linear-gradient($deg, rgba($clr, $int) 0%, rgba($clr, 0) $end);
}

body {
    // Default Light theme
    // BG
    --bg-color: #{$color-bright-base};
    --bg-color-HL: #{$color-bright-dark};
    --bg-color-invert: #{$color-dark-O80};
    --bg-content: #{$color-bright-light};
    --bg-code: #{$color-dark-O20};
    --bg-code-invert: #{$color-bright-O40};
    --bg-pre: #{$color-dark-O10};
    --bg-caution: hsl(10, 100%, 50%, 0.2);
    --bg-caution-HL: hsl(10, 100%, 50%, 1);
    --bg-primary: #{$color-primary-O10};
    --bg-primary-HL: #{$color-primary-base};
    --border-color: #{$color-dark-O40};
    --shadow-soft: rgba(0, 0, 0, 0.015);
    --shadow-medium: rgba(0, 0, 0, 0.03);
    
    // Typography
    --title-color: #{$color-dark-light};
    --system-color: #{$color-dark-base};
    --system-color-HL: #{$color-dark-dark};
    --system-color-invert: #{$color-bright-base};
    --link-color: #{$color-primary-base};
    --link-color-HL: #{$color-primary-light};
}

body[data-theme="dark"] {
    // Override variables for Dark theme
    // BG
    --bg-color: #{$color-dark-light};
    --bg-color-HL: #{$color-dark-dark};
    --bg-color-invert: #{$color-bright-O75};
    --bg-content: #{$color-dark-base};
    --bg-code: #{$color-bright-O20};
    --bg-code-invert: #{$color-dark-O60};
    --bg-pre: #{$color-bright-O10};
    --bg-primary: #{$color-primary-O20};
    --bg-primary-HL: #{$color-primary-light};
    --border-color: #{$color-bright-O20};
    // --shadow-soft: rgba(251, 251, 2224, 0.02);
    --shadow-soft: rgba(0, 0, 0, 0.07);
    --shadow-medium: rgba(0, 0, 0, 0.05);
    
    // Typography
    --title-color: #{$color-bright-base};
    --system-color: #{$color-bright-light};
    --system-color-HL: #{$color-bright-base};
    --system-color-invert: #{$color-dark-base};
    --link-color: #{$color-primary-light};
    --link-color-HL: #{$color-primary-base};
}