@mixin blockquote {
    border-left-width: var(--space-xs);
    border-left-style: solid;
    border-left-color: var(--border-color);
    padding: var(--space-xs) var(--space-md);
    background-color: var(--bg-pre);
    color: var(--title-color);
    margin: var(--spacem-xs) 0;
    font-size: 95%;
    p {
        margin: 0;
    }
}

@mixin content-main {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: var(--spacem-md);
        margin-bottom: var(--space-xs);
        text-transform: capitalize;
    }

    h1 {
        font-size: var(--font-size-7xl);
    }

    h2 {
        font-size: var(--font-size-5xl);
    }

    h3 {
        font-size: var(--font-size-3xl);
    }

    > .-content {
        padding: var(--space-4xl);
        padding-top: var(--space-2xl);
        @include mQ-max($display-size-sm) {
            padding: var(--space-2xl);
        }
        img, svg, .youtube-player {
            overflow: hidden;
            border-radius: var(--radius);
        }
    }
    pre {
        max-width: calc(100vw - calc(calc(var(--space-4xl) + var(--content-space)) * 2) - 2px);
        @include mQ-max($display-size-sm) {
            max-width: calc(100vw - calc(var(--space-2xl) * 2) - 2px);
        }
    }

    blockquote {
        @include blockquote;
    }

    .hint {
        @include blockquote;
    }

    .tip {
        background-color: var(--bg-primary);
        border-left-color: var(--bg-primary-HL);
    }
    .warn {
        color: var(--system-color-invert);
        font-weight: var(--font-wight--bold);
        background-color: var(--bg-color-invert);
        border-left-color: var(--system-color-HL);
        code {
            background-color: var(--system-color);
        }
    }
    .error {
        background-color: var(--bg-caution);
        border-left-color: var(--bg-caution-HL);
    }

    // These 2 styles are for image and caption that are placed in a div tag
    // Gridsome adds the noscript tag, if it didn't then -> img + em
    // Read more here - https://thesynack.com/posts/markdown-captions/

    strong em {
        font-weight: var(--font-wight--black);
    }
    svg + em, noscript + em {
        font-size: var(--font-size-3xl);
    }
    p img, p svg, p .youtube-player {
        transform: translateY(var(--space-sm));
        @include mQ-max($display-size-sm) {
            margin-inline-start: calc(var(--content-space) * -1);
            margin-inline-end: calc(var(--content-space) * -1);
            max-width: unset;
            width: calc(100% + 4rem);
            border-radius: 0 !important;
        }
    }

    .footnotes {
        padding: 0;
        line-height: 1.5em;
        @include mQ-max($display-size-sm) {
            margin-inline-start: calc(var(--content-space) * -1);
            margin-inline-end: calc(var(--content-space) * -1);
            max-width: unset;
            width: calc(100% + 4rem);
        }
        hr {
            margin-bottom: var(--space-lg);
            @include mQ-max($display-size-sm) {
                margin-inline-start: var(--space-2xl);
                margin-inline-end: var(--space-2xl);
            }
        }
        ol {
            list-style-type: none;
            margin: 0;
        }
        li {
            background-color: var(--bg-pre);
            padding: var(--space-lg);
            border-radius: var(--radius);
            margin-bottom: var(--space-md);
            &:last-child,
            &:only-of-type {
                margin-bottom: 0;
            }
            @include mQ-max($display-size-sm) {
                border-radius: 0;
                padding: var(--space-2xl);
            }
        }
        img, svg, .youtube-player {
            margin-top: var(--spacem-sm);
            max-height: calc(16 * var(--space-4xl));
            width: auto;
        }
        a {
            font-size: var(--font-size-sm);
            background-color: var(--bg-pre);
            font-weight: var(--font-wight--bolder);
            padding: var(--spacem-xs) var(--spacem-sm);
            border-radius: var(--radius);
            margin: 0;
            margin-top: var(--spacem-sm);
            display: block;
            max-width: max-content;
            &::after {
                content: " Back to footnote";
            }
        }
    }

    sup {
        vertical-align: super;
        font-size: 75%;
        padding-inline-start: var(--spacem-3xs);
        padding-inline-end: var(--spacem-4xs);
        opacity: 0.8;
        transition: opacity ease-out 0.25s;
        line-height: 1;
        &:hover {
            opacity: 1;
        }
        a {
            &::before {
                content: "[";
                padding-inline-end: var(--spacem-3xs);
            }
            &::after {
                content: "]";
                padding-inline-start: var(--spacem-3xs);
            }
        }
    }

    .task-list-item {
        list-style: none;
        margin-left: calc(-1 * var(--space-3xl));
        position: relative;
        display: flex;
        input[type="checkbox"] {
            width: var(--space-xl);
            height: var(--space-xl);
        }
    }
}
