@import "layout";

// Used to wrap content inside a nice box.
@mixin content-box($collapse-size) {
    background-color: var(--bg-content);
    max-width: var(--content-width-sm);
    margin: 0 auto;
    margin-bottom: var(--content-space);
    border-radius: var(--radius);
    box-shadow: var(--shadow-sm);
    transition: transform ease-in-out 0.2s, box-shadow ease-in-out 0.3s;
    @include mQ-max($collapse-size) {
        // Remove padding on small screens
        margin: 0 calc(var(--content-space) * -1);
        margin-bottom: var(--content-space);
        border-radius: 0;
    }
}

@mixin content-box-image($collapse-size) {
    overflow: hidden;
        border-radius: var(--radius) var(--radius) 0 0;
        &:empty {
            display: none;
        }
        @include mQ-max($collapse-size) {
            // Remove border-radius on small screens
            border-radius: 0;
        }
}