@import "layout";

// Used to wrap content inside a nice box.
@mixin content-box($collapse-size) {
    background-color: var(--bg-content);
    max-width: var(--content-width-sm);
    margin: 0 auto;
    border-radius: var(--radius);
    box-shadow: var(--shadow-sm);
    transition: transform ease-in-out 0.2s, box-shadow ease-in-out 0.25s;
    @include mQ-max($collapse-size) {
        margin-inline-start: calc(var(--content-space) * -1);
        margin-inline-end: calc(var(--content-space) * -1);
        border-radius: 0;
    }
}

@mixin content-box-image($collapse-size) {
    overflow: hidden;
    img {
        background-color: var(--bg-color);
    }
    border-radius: var(--radius) var(--radius) 0 0;
    &:empty {
        display: none;
    }
    @include mQ-max($collapse-size) {
        border-radius: 0;
    }
}
