// Screen size
$display-size-xl: 1440px;
$display-size-lg: 1280px;
$display-size-md: 960px;
$display-size-sm: 720px;
$display-size-xs: 480px;

// Width mixins
@mixin main-padding {
    padding-inline: calc(max(2rem, env(safe-area-inset-left)));
}

// When smaller
@mixin mQ-max($width-number) {
    @media screen and (max-width: $width-number) {
        @content;
    }
}

// When bigger
@mixin mQ-min($width-number) {
    @media screen and (min-width: $width-number) {
        @content;
    }
}
