// Screen size
$display-size-xl: 1440px;
$display-size-lg: 1280px;
$display-size-md: 960px;
$display-size-sm: 760px;
$display-size-xs: 420px;

// Width mixins

// When smaller
@mixin mQ-max($width-number) {
    @media screen and (max-width: $width-number) {
        @content;
    }
}

// When bigger
@mixin mQ-min($width-number) {
    @media screen and (min-width: $width-number) {
        @content;
    }
}