body {
    --shadow-xs: 
        0px 0.05rem 0.1rem 0 var(--shadow-soft), 
        0px 0.1rem 0.2rem 0 var(--shadow-soft),
        0px 0.2rem 0.4rem 0 var(--shadow-soft), 
        0px 0.4rem 0.8rem 0 var(--shadow-soft);
    --shadow-sm: 
        0px 0.1rem 0.1rem 0 var(--shadow-soft), 
        0px 0.2rem 0.2rem 0 var(--shadow-soft),
        0px 0.4rem 0.4rem 0 var(--shadow-soft), 
        0px 0.8rem 0.8rem 0 var(--shadow-soft);
    --shadow-md: 
        0px 0.15rem 0.15rem 0 var(--shadow-medium), 
        0px 0.4rem 0.3rem 0 var(--shadow-medium),
        0px 0.6rem 0.6rem 0 var(--shadow-medium), 
        0px 1.2rem 1.2rem 0 var(--shadow-medium);
    --shadow-lg: 
        0px 0.2rem 0.2rem 0 var(--shadow-medium), 
        0px 0.4rem 0.4rem 0 var(--shadow-medium),
        0px 0.8rem 0.8rem 0 var(--shadow-medium), 
        0px 1.6rem 1.6rem 0 var(--shadow-medium);
}
