@mixin animtion-ctrl($type, $dur, $easing) {
    transition: $type $dur;
    transition-timing-function: $easing;
}
// Default
body {
    background-color: var(--bg-color);
    background-image: linear-gradient(var(--bg-color), var(--bg-color-HL));
    transition: color 0.6s, background-color 0.6s;
    margin: 0;
    padding: 0;
    line-height: 1.5;

    // Shadows
    --shadow-sm: 0px var(--space-4xs) var(--space-3xs) 0 rgba(0, 0, 0, 0.04),
        0px var(--space-3xs) var(--space-2xs) 0 rgba(0, 0, 0, 0.04),
        0px var(--space-2xs) var(--space-xs) 0 rgba(0, 0, 0, 0.04),
        0px var(--space-xs) var(--space-md) 0 rgba(0, 0, 0, 0.04);
    --shadow-md: 0px var(--space-3xs) var(--space-2xs) 0 rgba(0, 0, 0, 0.06),
        0px var(--space-2xs) var(--space-xs) 0 rgba(0, 0, 0, 0.06),
        0px var(--space-xs) var(--space-sm) 0 rgba(0, 0, 0, 0.06),
        0px var(--space-md) var(--space-2xl) 0 rgba(0, 0, 0, 0.06);
}

// a:not(.button) {

// }

img {
    max-width: 100%;
}
// hr {
//     border: 0;
//     height: 1px;
//     margin: var(--content-space) 0;
//     background: var(--border-color);
// }
button {
    padding: 0;
}
