@mixin animation-ctrl($type, $dur, $easing) {
    transition: $type $dur;
    transition-timing-function: $easing;
}
// Default

body {
    line-height: 1.5;
    background-color: var(--bg-color);
}

// a:not(.button) {
// }

img {
    max-width: 100%;
}

button {
    padding: 0;
}
