table {
    // --darken-it: rgba(0, 0, 0, 0.025);
    // --darken-it-header: rgba(0, 0, 0, 0.05);
    text-align: left;
    background-color: var(--bg-color);
    padding: var(--space-md);
    border-radius: var(--radius);
    margin-bottom: var(--space-xl);
    overflow: hidden;
    box-shadow: var(--shadow-xs);
    font-size: var(--font-size-lg);
    // width: 100%;
}
thead {
    background-color: var(--bg-pre);
    font-weight: bold;
}
th,
td {
    padding: 1rem;
}
tr:nth-child(even) {
    background-color: var(--bg-pre);
}
td:nth-child(even) {
    background-color: var(--bg-pre);
}
th:nth-child(even) {
    background-color: var(--bg-pre);
}
